.bg-gradient-primary {
    background-color: #920303;
    background-image: linear-gradient(180deg,#d41919 10%,#a20404 100%);
    background-size: cover;
}

.text-primary {
    color: #d43c3c !important;
  }
.btn-primary {
background-color: #d41919 ;    
border-color: #df4e4e;
}

.btn-primary:hover {
    background-color: #920303 ;  
    border-color: #df4e4e;
  }
.btn-link {
font-weight: 400;
color: #d41919;
text-decoration: none;
}
.btn-primary.focus, .btn-primary:focus {
    /* box-shadow: 0 0 0 0.2rem rgba(228, 105, 105, 0.5); */
    box-shadow: none;

}
.btn-link:hover {
    color: #920303;
    text-decoration: underline;
}
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #d41919;
    border-color: #d41920;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.form-control:focus {
    color: #6e707e;
    background-color: #fff;
    border-color: #f3baba;
    outline: 0;
    box-shadow: none;
}
/* .topbar .dropdown-list .dropdown-header {
    background-color: #4e73df;
    border: 1px solid #4e73df;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
} */
.topbar .dropdown-list .dropdown-header {
    background-color: #d41919;
    border: 1px solid #d41919;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
}
/* .form-control:focus {
    color: #6e707e;
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78,115,223,.25);
} */