<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="./styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> -->

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="./styles/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="./styles/css/custom.css"><!-- Custom styles for this page -->
    <link rel="stylesheet" href="./styles/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="./styles/css/custom.css" />
    <link rel="stylesheet" href="./styles/datatables/jquery.dataTables.min.css">
    <!-- datepicker plugin -->
    <link rel="stylesheet" href="./styles/datepicker/datepicker3.css">
    <script src="/js/jquery-3.4.1.js"></script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/welcome">
            <div class="sidebar-brand-text mx-3"> Products Manager</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/welcome">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Menu
            <li class="nav-item">
                <a class="nav-link" href="/products">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>View Products</span></a>
            </li>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<script src="js/bootstrap/bootstrap-datepicker.js"></script>

<script src="js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="../../static/js/otphistory.js" />
<!-- Bootstrap core JavaScript-->
<!--<script src="js/jquery/jquery.min.js"></script>-->
<script src="js/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="js/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>

</html>

